{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to StarGazer!

    {% endblock %}</h1>
<h1>{% block body %} Enter the URL for a repository
    below
    to make a prediction: {% endblock %}</h1>


{% if metrics %}
{% for i in range(3) %}

<br/>
    {% endfor %}

    <h1>
        <span>Model post training stats:</span> </h1>
    {% for metric, value in metrics.items() %}
    <h5>{{metric}}: {{value}}</h5>
    {% endfor %}
    {% endif %}



    {% for i in range(1) %}

    <br/>
        {% endfor %}
        <form method="post">
            <div class="form-group">
                <label for="title">URL</label>
                <input type="text" name="repo_url"
                    placeholder="Repository URL" class="form-control"
                    value="{{ request.form['repo_url'] }}"></input>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>




    {% if error %}
    <h2>Error: {{error}}</h2>

    {% elif result %}

    {% if result %}
    <h1>Prediction: {{ result["prediction"] }}</h1>
    <h1>Actual: {{ result["actual"] }}</h1>
    {% elif result == False %}
    <h2>Invalid url</h2>

    {% endif %}


    {% endif %}


    {% endblock %}